<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="StoragePath" value="C:\Users\JeremicJ\source\repos\WebScrape\WebScrape\bin\Debug\Data" />
        <add key="CurrencyListUrl" value="https://srh.bankofchina.com/search/whpj/searchen.jsp" />
        <add key="RateUrl" value="https://srh.bankofchina.com/search/whpj/searchen.jsp" />
    </appSettings>
</configuration>